EDA/讀取資料與分析流程

## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './data/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [4]:
app_train.shape

(307511, 122)

row 數: 307511列  
column 數: 122行

#### 列出所有欄位

In [5]:
app_train.columns

Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料

In [6]:
app_train.loc[:,['SK_ID_CURR', 'TARGET']]

        SK_ID_CURR  TARGET
0           100002       1
1           100003       0
2           100004       0
3           100006       0
4           100007       0
5           100008       0
6           100009       0
7           100010       0
8           100011       0
9           100012       0
10          100014       0
11          100015       0
12          100016       0
13          100017       0
14          100018       0
15          100019       0
16          100020       0
17          100021       0
18          100022       0
19          100023       0
20          100024       0
21          100025       0
22          100026       0
23          100027       0
24          100029       0
25          100030       0
26          100031       1
27          100032       0
28          100033       0
29          100034       0
...            ...     ...
307481      456225       1
307482      456226       0
307483      456227       0
307484      456228       0
307485      456229       0
307486      456230       0
307487      456231       0
307488      456232       0
307489      456233       1
307490      456234       0
307491      456235       0
307492      456236       0
307493      456237       0
307494      456238       0
307495      456239       0
307496      456240       0
307497      456241       0
307498      456242       0
307499      456243       0
307500      456244       0
307501      456245       0
307502      456246       0
307503      456247       0
307504      456248       0
307505      456249       0
307506      456251       0
307507      456252       0
307508      456253       0
307509      456254       1
307510      456255       0

[307511 rows x 2 columns]

In [7]:
app_train.iloc[:,[2,3,5]]

       NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_REALTY
0              Cash loans           M               Y
1              Cash loans           F               N
2         Revolving loans           M               Y
3              Cash loans           F               Y
4              Cash loans           M               Y
5              Cash loans           M               Y
6              Cash loans           F               Y
7              Cash loans           M               Y
8              Cash loans           F               Y
9         Revolving loans           M               Y
10             Cash loans           F               Y
11             Cash loans           F               Y
12             Cash loans           F               Y
13             Cash loans           M               N
14             Cash loans           F               Y
15             Cash loans           M               Y
16             Cash loans           M               N
17        Revolving loans           F               Y
18        Revolving loans           F               Y
19             Cash loans           F               Y
20        Revolving loans           M               Y
21             Cash loans           F               Y
22             Cash loans           F               N
23             Cash loans           F               Y
24             Cash loans           M               N
25             Cash loans           F               Y
26             Cash loans           F               Y
27             Cash loans           M               Y
28             Cash loans           M               Y
29        Revolving loans           M               Y
...                   ...         ...             ...
307481         Cash loans           M               Y
307482         Cash loans           F               Y
307483         Cash loans           F               Y
307484         Cash loans           F               N
307485    Revolving loans           F               Y
307486         Cash loans           F               Y
307487         Cash loans           M               Y
307488         Cash loans           F               N
307489         Cash loans           F               Y
307490         Cash loans           M               Y
307491         Cash loans           M               Y
307492         Cash loans           M               Y
307493         Cash loans           F               Y
307494         Cash loans           M               N
307495         Cash loans           M               N
307496    Revolving loans           F               N
307497         Cash loans           F               Y
307498         Cash loans           M               Y
307499         Cash loans           F               Y
307500         Cash loans           F               Y
307501         Cash loans           F               Y
307502         Cash loans           F               Y
307503         Cash loans           F               Y
307504         Cash loans           F               Y
307505         Cash loans           F               Y
307506         Cash loans           M               N
307507         Cash loans           F               Y
307508         Cash loans           F               Y
307509         Cash loans           F               Y
307510         Cash loans           F               N

[307511 rows x 3 columns]

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子